# .gcloudignore
# Ignorar a pasta git e configurações do git
.git
.gitignore

# Ignorar dependências (elas serão instaladas no Docker)
node_modules
npm-debug.log
.npm

# Ignorar pastas de build local
dist/

# Ignorar credenciais e ficheiros sensíveis
firebase-credentials.json
key.json
serviceAccountKey.json

# Ignorar ficheiros de log
*.log